.Html{
  height: 98%;
  font-size: 85%;
}

.Body{
  overflow: hidden;
  background: rgb(0, 0, 0);
  height: 100%;
  width: 99%;
  color: rgb(255, 255, 255);
  font-family: "Noto Sans";
}

.Main{
  height: 100%;
  width: 100%;
  display: none;
}

.ResourceManager{
  width: 25%;
}

.ControlPanel{
  width: 48%;
  border-left: white solid 1px;
  border-right: white solid 1px;
  padding-left: 1%;
  padding-right: 1%;
}

.RightBox{
  width: 25%;
  padding-left: 1%;
}

.InfoBox{
  margin-right: 1%;
}

.SaveButton{
  font-family: "Noto Sans";
  color: white;
  background: black;
  border: solid white 1px;
  position: absolute;
  bottom: 1%;
  right: 0.5%;
  outline: none;
}

.SaveButton:active{
  background: rgb(25, 25, 25);
}

.ClearButton{
  font-family: "Noto Sans";
  color: white;
  background: black;
  border: solid white 1px;
  position: absolute;
  bottom: 1%;
  outline: none;
}

.ClearButton:active{
  background: rgb(25, 25, 25);
}

.HomeLink{
  font-size: 110%;
  font-family: "Noto Sans";
  color: white;
  background: none;
  outline: none;
  border: none;
}

.HomeLink:hover{
  text-decoration: underline;
}

.WanderLink{
  font-size: 110%;
  font-family: "Noto Sans";
  color: white;
  background: none;
  outline: none;
  border: none;
}

.WanderLink:hover{
  text-decoration: underline;
}

.ControlPanel{

}

.HomeControls{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.HomeRow1{
  height: 100%;
  width: 33.3%;
}

.HomeRow2{
  height: 100%;
  width: 33.3%;
}

.HomeRow3{
  height: 100%;
  width: 33.3%;
}

.ScavengeButton{
  color: white;
  background: black;
  border: white 1px solid;
  width: 94%;
  outline: none;
  font-family: "Noto Sans";
  padding-top: 3%;
  padding-bottom: 3%;
}

.ScavengeButton:active{
  background: rgb(25, 25, 25);
}

.WanderControls{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 100%;
  visibility: hidden;
  justify-content: center;
}

.FoodInfo{
  float: right;
  position: relative;
  right: 2%;
}

.WoodDiv{
  display: none;
}

.Wood{

}

.WoodInfo{
  float: right;
  position: relative;
  right: 2%;
}

.ScrapDiv{
  display: none;
}

.Scrap{

}

.ScrapInfo{
  float: right;
  position: relative;
  right: 2%;
}

.FarmButton{
  color: white;
  background: black;
  border: white 1px solid;
  width: 94%;
  height: 5%;
  outline: none;
  font-family: "Noto Sans";
  display: none;
  padding-top: 3%;
  padding-bottom: 3%;
}

.FarmButton:active{
  background: rgb(25, 25, 25);
}

.ScavengeDiv{
  width: 100%;
}

.FarmDiv{
  width: 100%;
}

.FarmButtonInfo{
  width: 87%;
  display: none;
  border: solid 1px white;
  position: relative;
  bottom: 1px;
  padding: 3% 3% 3% 3%;
  font-size: 85%;
}

.ScavengeButtonInfo{
  width: 87%;
  display: none;
  border: solid 1px white;
  position: relative;
  bottom: 1px;
  padding: 3% 3% 3% 3%;
  font-size: 85%;
}

.LoadingDiv{
  align-self: center;
  text-align: center;
  position: relative;
  top: 40%;
}

.LoadingInfo{

}

.LoadingBar{
  width: 0%;
}

.FarmButton{
  color: white;
  background: black;
  border: white 1px solid;
  width: 94%;
  height: 5%;
  outline: none;
  font-family: "Noto Sans";
  display: none;
  padding-top: 3%;
  padding-bottom: 3%;
}

.FarmButton:active{
  background: rgb(25, 25, 25);
}

.InfoBoxBox{
  height: 95%;
  overflow: hidden;
}

.WanderButton{
  display: block;
  background: black;
  outline: none;
  border: 1px solid white;
  color: white;
  height: 5%;
  width: 32%;
  position: absolute;
  top: 33%;
}

.WanderButton:active{
  background: rgb(25, 25, 25);
}

.FarmingControls{
  position: relative;
  bottom: 200%;
  visibility: hidden;
  height: 100%;
  width: 100%;
}

.WanderCooldown{
  position: absolute;
  top: 30%;
  width: 31%;
}

.FarmingLink{
  font-size: 110%;
  font-family: "Noto Sans";
  color: white;
  background: none;
  outline: none;
  border: none;
}

.FarmingLink:hover{
  text-decoration: underline;
}

.StatsLink{
  font-size: 110%;
  font-family: "Noto Sans";
  color: white;
  background: none;
  outline: none;
  border: none;
}

.StatsLink:hover{
  text-decoration: underline;
}

.StatsControls{
  position: relative;
  bottom: 300%;
  visibility: hidden;
  height: 100%;
  width: 100%;
}

.SkillStatsDiv{

}

.SkillStatsTitle{
  font-size: 150%;
}

.FarmingStatsLevel{

}
